<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <div style="text-align: center;">
        <h1>Name: <%= user.displayName %></h1>
        <img src=<%= user.image %> alt="profile" height="100px" width="100px">
        <a href="/auth/logout" style="text-decoration: none;display: block;">Logout</a>

    </div>


</body>

</html>